


body {
background-image: url("images/tmnthd.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: auto;
background-color: black;
height: 1000px;

}

header{
text-align: center;
 font-weight:bolder;
 font-size: 20px;
background-color:black;
body {
background-image: url("images/tmnthd.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: auto;
background-color: black;
height: 1000px;

}

header{
text-align: center;
 font-weight:bolder;
 font-size: 20px;
background-color:black;
color :cyan;
border: 5px red solid;
}

h4{
color: blue;

}

li{
color:black;
 font-weight:bolder;
 font-size:18px; 
}

p.one{
border-style:inset;
color: red
 }

p  {
font-size:15px; 
font-family:arial white, Helvetica, sans-serif;
 font-weight:bolder;
font-style:oblique;
line-height:18px;
color: black;
}

ul{
list-style-type: square;
}

button{
	background-color: black;
	border-radius: 15px;
	color: lightblue;
	width: 100px;
	height: 40px;

}

#content{
	margin-left: 150px; 
	margin-top: -200px;
	padding-right: 800px;


}








